<div id="{{ id }}" class="_section">
    <div id="{{ page_main_id }}" class="_row">
        <div class="_title _col-md">
            Nodes:
        </div>
        <div class="_item-fill">
            <input id="{{ node_numbers_id }}" type="text">
        </div>
        <div class="_icon-row _col-sm">
            <i id="{{ settings_hide_id }}" class="fa fa-check clickable clickable-primary"></i>
            <i id="{{ settings_show_id }}" class="fa fa-cog clickable clickable-primary"></i>
            <i id="{{ remove_id }}" class="fa fa-times clickable clickable-primary"></i>
        </div>
    </div>
    <div id="{{ page_settings_id }}" class="_subsection">
        <div class="_row">
            <div class="_title _col-md">
                Color:
            </div>
            <div class="_item-fill">
                <input id="{{ settings_color_id }}" class="color-selector" value="rgba(70, 130, 180, 1)" spellcheck="false">
                <div id="{{ settings_color_box_id }}" class="color-selector-colorbox"></div>
            </div>
        </div>
        <div class="_row">
            <div class="_title _col-md">
                Thickness:
            </div>
            <div class="_item-fill">
                <input id="{{ settings_thickness_id }}" type="number" min="0.1" step="0.1" value="1.0">
            </div>
        </div>
    </div>
</div>