<div id="{{ id }}">
    <div id="{{ page_main_id }}" class="node-picker vertical-align">
        <div class="title">
            Node:
        </div>
        <div class="controller">
            <input id="{{ picker_id }}" class="form-control input-sm" type="number" min="1" max="{{ max_nodes }}" value="1">
        </div>
        <div class="extras">
            <i id="{{ settings_id }}" class="fa fa-cog clickable clickable-primary"></i>
            <i id="{{ remove_id }}" class="fa fa-times clickable clickable-primary"></i>
        </div>
    </div>
    <div id="{{ page_settings_id }}" class="node-picker vertical-align" style="display: none;">
        <!--<div class="controller-no-title">-->
            <span class="settings-icon"><i class="fa fa-envelope-o fa-minus"></i></span>
            <input id="{{ settings_thickness_id }}" class="form-control compact" type="number" min="0.1" step="0.1" value="1.0">
        <!--</div>-->
        <div class="extras">
            <i class="fa fa-check-circle clickable clickable-primary"></i>
            <i class="fa fa-times clickable clickable-primary"></i>
        </div>
    </div>
</div>