<div id="{{ id }}" class="sidebar-group">

    <!-- Title and info bar -->
    <div class="title">
        <label id="{{ id_title }}">
            {{ file_name }}
        </label>
        <i class="fa fa-angle-down pull-right clickable clickable-secondary"></i>
        <div class="subtitle">
            Nodes: {{ num_nodes }} Timesteps: {{ num_timesteps }}
        </div>
    </div>

    <div id="{{ id_content_wrapper }}" class="content">

        <!-- Plotted data -->
        <div id="{{ id_data_list }}">

            <div id="{{ id_data_list_placeholder }}" class="placeholder filler">
                Add data to plot using options below.
            </div>

        </div>

        <!-- Plotting options -->
        <div class="footer">
            <div class="btn-group btn-group-sm" role="group">

                <button id="{{ id_add_node }}" type="button" class="btn btn-default">Node</button>
                <button id="{{ id_add_nodes }}" type="button" class="btn btn-default">Nodes</button>

                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Other
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="{{ id_add_min_max }}">Min/Max Elevation</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>